<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allreserves">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllReserves">
        <activity
            android:name=".telas.cliente.cadastro.CadastroCliente"
            android:exported="true" />
        <activity
            android:name=".telas.cliente.login.LoginCliente"
            android:exported="true" />
        <activity
            android:name=".telas.restaurante.cadastro.CadastroRestaurante2"
            android:exported="true" />
        <activity
            android:name=".telas.restaurante.cadastro.CadastroRestaurante"
            android:exported="true" />
        <activity
            android:name=".telas.cliente.listagem.restaurantes.DetalheRestaurante"
            android:exported="true" />
        <activity
            android:name=".telas.cliente.listagem.restaurantes.ListaRestaurantes"
            android:exported="true" />
        <activity
            android:name=".telas.restaurante.login.LoginRestaurante"
            android:exported="true" />
        <activity
            android:name=".telas.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".telas.cliente.listagem.reservas.Reserva"
            android:exported="true" />
        <activity
            android:name=".telas.restaurante.gerenciamento.TelaPropriedades"
            android:exported="true" />
        <activity
            android:name=".telas.restaurante.gerenciamento.TelaReservas"
            android:exported="true" />
        <activity
            android:name=".telas.restaurante.gerenciamento.TelaRestaurante"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>